<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="80">
    <mat-card class="box">
      <form class="example-form" [formGroup]="loginFormGroup">
        <mat-card-content>
          <div>
            <mat-form-field style="width: 100%">
              <input
                matInput
                [placeholder]="'User name'"
                formControlName="userName"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width: 100%">
              <input
                matInput
                [placeholder]="'uri'"
                formControlName="uri"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field  style="width: 100%">
              <mat-label>Default message type</mat-label>
              <mat-select  formControlName="messageType">
                <mat-option value="REST">REST</mat-option>
                <mat-option value="HESSIAN">HESSIAN</mat-option>
              </mat-select>
              <mat-error *ngIf="messageType.hasError('required')">
                Message type is required.
              </mat-error>
            </mat-form-field>
          </div>
          <button mat-button color="primary" [disabled]="!loginFormGroup.valid" (click)="login()" cdkFocusInitial>Login
          </button>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
